fastapi
uvicorn
sentence-transformers
faiss-cpu
transformers
beautifulsoup4
requests
httpx
pytest
langchain
python-dotenv
llama-index==0.12.28
llama-index-embeddings-huggingface==0.5.2
llama-index-core==0.12.28
llama-index-vector-stores-chroma==0.4.1
chromadb==1.0.3
